version: "3.9"
services: 
  db:
      build:
        context: ./db
        dockerfile: postgres.Dockerfile
      restart: always
      volumes:
        - postgres_data:/var/lib/postgresql/data/
  web:
      build:
        context: ./server
        dockerfile: nodeServer.Dockerfile
      command: npm start
      environment:
        DB_URL: postgresql://postgres:postgres@db/crime_alert_db
        RUNNING_IN_DOCKER: "true"
      ports:
        - "8000:8000"
      depends_on:
        - db

volumes:
  postgres_data: